@model ApplicationUser

<div>
    <img src="@Model.ProfilePicUrl" class="profile-pic"/>
    <div class="d-block mx-3">
        <span>@Model.FirstName @Model.LastName</span> <br/>
        @* <span>Description</span> *@
    </div>
</div>