@model ApplicationUser

@* C:\Users\p-afayaz\source\repos\InteractiveChat\InteractiveChat\wwwroot\images\users\user1.jpg *@

<div>
    <img src="@Model.ProfilePicUrl" class="profile-pic" />
    <div class="d-block mx-3">
        <span>@Model.FirstName @Model.LastName</span> <br />
        @* <span>Description</span> *@
    </div>
</div>