body {
}

.profile-pic {
    width: 90px;
    height: 90px;
    border: 2px solid #f3969a;
    padding: 3px;
    border-radius: 50%;
    object-fit: cover;
}

.small-images {
    width: 45px;
    height: 45px;
    padding: 3px;
    border-radius: 50%;
    object-fit: cover;
}

/*hr {
    margin: 1rem 0;
    color: red;
    background-color: currentColor;
    border: 1px solid black;
    opacity: 0.25;
    width: inherit;
}*/

.menu-hr {
    width: 100%;
}
