@model ApplicationUser


<div>
    <img src="C:\Users\p-afayaz\source\repos\InteractiveChat\InteractiveChat\wwwroot\images\users\user1.jpg" class="profile-pic"/>
    <div class="d-block mx-3">
        <span>Andrea Lopez</span> <br/>
        @* <span>Description</span> *@
    </div>
</div>